* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: linear-gradient(0deg, rgba(73, 0, 146, 1) 1%, rgba(6, 5, 45, 1), rgba(14, 5, 15, 1));
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  height: min-content;
  padding: 25px 50px 0px 50px;
}

#root {
  margin: 0 auto;
  max-width: 1920px;
}

.glass {
  /* background: linear-gradient(135deg, rgba(255, 255, 255, 0.346), rgba(255, 255, 255, 0.103)); */
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.175), rgba(255, 255, 255, 0.028));
  box-shadow: 0px 8px 25px 0px rgba(129, 86, 238, 0.471);
  border: 2px solid rgba(251, 251, 251, 0);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.navbar {
  height: 50px;
  display: flex;
  margin-bottom: 50px;
  align-items: center;
  justify-content: space-between;
}

.navbar h1 {
  font-family: 'Audiowide', sans-serif;
}

.navbar__links a {
  text-decoration: none;
  display: inline-block;
  padding: 5px 15px;
  margin-bottom: 40px;
  margin: 10px 10px;
  border-radius: 30px;
  background-image: linear-gradient(45deg, #000878 0%, #a533de 50%, #000878 100%);
  background-position: 100% 0;
  background-size: 200% 200%;
  font-family: 'Audiowide', sans-serif;
  font-size: 18px;
  color: white;
  box-shadow: 0px 3px 32px 5px rgba(74, 128, 237, 0.28);
  transition: .5s;
  cursor: pointer;
  text-align: center;
}

.navbar__links :hover {
    box-shadow: 0 0 0 0 rgba(0, 40, 120, 0);
    background-position: 0 0;
}

.navbar__links :active {
    font-size: 16px;
}

.register__btn {
  display: inline-block;
}

.dashboard_wrapper {
  padding: 0 50px;
}

.crypto_container {
  display: grid;
  margin-top: 40px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 167px 167px 167px 167px;
  gap: 25px;
  font-family: 'Audiowide', sans-serif;
  font-size: 18px;
}

.dashboard_element_wrapper {
  display: flex;
  padding: 0px 10px 0px 10px;
  border-radius: 15px;
  align-items: center;
}

.left_right-elems-media {
  display: none;
}

.left_right-elems {
  width: 82%;
  display: flex;
  justify-content: space-around;
}

.crypto-logo {
  width: 95px;
  height: 50px;
}

[data-name = "dogecoin"] {
  width: 86px;
  height: 65px;
}

@media (max-width: 1423px) {
  .dashboard_element_wrapper {
    padding: 0px 0px 0px 30px;
  }
  .left_right-elems {
    display: none;
  }
  .left_right-elems-media {
    width: 60%;
    display: flex;
    flex-direction: column;
  }
  .top-block {
    margin-bottom: 0.5em;
  }
  .bottom-block {
    margin-bottom: 0.5em;
  }
  .crypto-logo {
    width: 55px;
    height: 60px;
  }
  [data-name] {
    width: 100px;
    height: 45px;
  }
  [data-name = "dogecoin"] {
    width: 100px;
    height: 60px;
  }
}
